@view-transition{
	navigation: auto;
}

article {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2em;
}

article h1 {
	color: white;
	text-shadow: 0px 0px 20px black;
	font-size: 7vw;
	cursor: default;
	margin-top: 1em;
}

article a {
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 20px black;
	transform: scale(1.05);
	transition: transform .2s;
	font-size: 4vw;
	margin-top: 4%;
	letter-spacing: 30%;
}

article a:hover {
    color: rgb(235, 175, 216);
    transform: scale(1.2);
}



body {
	background: linear-gradient(-70deg, #1a0006, #2c002e, #180022, #190036, #001718);
	background-size: 400% 100%;
	animation: gradient 7s ease infinite;
	height: 400vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}